.App {
  text-align: center;
  font-family: 'Niconne', cursive;
  
}

div.backstory.container {
  display: flex;
}
div.title.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}